<mat-card>
  <mat-card-header class="w-100">
    <mat-card-title-group class="w-100">
      <mat-card-title class="abp-card-title">{{ '::Menu:CustomerList' | abpLocalization }}</mat-card-title>
      <div class="text-end col col-md-6 row justify-content-end mx-0 gap-2">

        <div class="col-auto px-0 pt-0">
          <button *abpPermission="'ClientPortal.Customers.Create'" id="create" mat-raised-button color="primary"
            type="button" [routerLink]="['create']">
            <i class="fa fa-plus mr-1"></i>
            <span>{{ "::NewCustomer" | abpLocalization }}</span>
          </button>
        </div>
        <div class="col-auto px-0 pt-0">
          <app-export-csv [apiUrl]="exportUrl" fileName="customers" [fieldList]="exportFieldList">
            ></app-export-csv>
        </div>
        <div class="col-auto px-0 pt-0">
          <app-import-data>
          </app-import-data>
        </div>
      </div>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="customers.items" class="w-100" matSort (matSortChange)="changeSort($event)">
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columns"></tr>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> {{'::Actions' | abpLocalization}} </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" [matMenuTriggerData]="{id: element.id}">
            <mat-icon>settings</mat-icon>
            {{'::Actions' | abpLocalization}}
            <mat-icon>expand_more</mat-icon>
          </button>
        </td>
      </ng-container>
      <mat-text-column [headerText]="'::Customer Id' | abpLocalization" name="id"></mat-text-column>
      <mat-text-column [headerText]="'::Name' | abpLocalization" name="name"></mat-text-column>
      <mat-text-column [headerText]="'::Type' | abpLocalization" name="type"></mat-text-column>
      <mat-text-column [headerText]="'::address1' | abpLocalization" name="address1"></mat-text-column>
      <mat-text-column [headerText]="'::AddressLine1' | abpLocalization" name="addressLine1"></mat-text-column>
      <mat-text-column [headerText]="'::City' | abpLocalization" name="city"></mat-text-column>
      <mat-text-column [headerText]="'::zip' | abpLocalization" name="zip"></mat-text-column>
      <mat-text-column [headerText]="'::Creation on' | abpLocalization" name="creationTime"></mat-text-column>
    </table>
    <mat-paginator [length]="customers.totalCount" [pageSize]="list.maxResultCount"
      (page)="changePage($event)"></mat-paginator>
  </mat-card-content>
</mat-card>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-id="id">
    <button *abpPermission="'ClientPortal.Customers.Edit'" mat-menu-item [routerLink]="['edit', id]">
      {{ '::Edit' | abpLocalization }}
    </button>
    <button *abpPermission="'ClientPortal.Customers.Delete'" mat-menu-item (click)="delete(id)">
      {{ '::Delete' | abpLocalization }}
    </button>
  </ng-template>

</mat-menu>