<mat-expansion-panel class="mb-3 mt-2" expanded>
  <mat-expansion-panel-header>
    {{ '::Menu:EmailDirectory' | abpLocalization }}
  </mat-expansion-panel-header>

  <mat-card>
    <mat-card-header class="w-100">
      <mat-card-title-group class="w-100">
        <div class="text-end col col-md-6 row justify-content-end mx-0 gap-2">
          <div class="col-auto px-0 pt-0">
            <button *abpPermission="'ClientPortal.EmailDirectory.Create'" id="create" mat-raised-button color="primary"
              type="button" (click)="createEmail()">
              <i class="fa fa-plus mr-1"></i>
              <span>{{ "::NewEmail" | abpLocalization }}</span>
            </button>
          </div>
        </div>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="emailDirectories.items" class="w-100" matSort (matSortChange)="changeSort($event)">
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columns"></tr>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> {{'::Actions' | abpLocalization}} </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" type="button" [matMenuTriggerFor]="menu"
              [matMenuTriggerData]="{id: element.id}">
              <mat-icon>settings</mat-icon>
              {{'::Actions' | abpLocalization}}
              <mat-icon>expand_more</mat-icon>
            </button>
          </td>
        </ng-container>
        <mat-text-column [headerText]="'::Email' | abpLocalization" name="email"></mat-text-column>
        <ng-container matColumnDef="isPrimary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'::IsPrimary'| abpLocalization}}</th>
          <td mat-cell *matCellDef="let element">{{ element.isPrimary ? 'Yes' : 'No' }}</td>
        </ng-container>
        <ng-container matColumnDef="optOutForMarketing">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'::OptOutForMarketing'|abpLocalization}}</th>
          <td mat-cell *matCellDef="let element">{{ element.optOutForMarketing ? 'Yes' : 'No' }}</td>
        </ng-container>
        <ng-container matColumnDef="optForDirectMarketing">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'::OptForDirectMarketing'|abpLocalization}}</th>
          <td mat-cell *matCellDef="let element">{{ element.optForDirectMarketing ? 'Yes' : 'No' }}</td>
        </ng-container>
      </table>
      <mat-paginator [length]="emailDirectories.totalCount" [pageSize]="list.maxResultCount"
        (page)="changePage($event)"></mat-paginator>
    </mat-card-content>
  </mat-card>
  <mat-menu #menu="matMenu">
    <ng-template matMenuContent let-id="id">
      <button type="button" *abpPermission="'ClientPortal.EmailDirectory.Edit'" mat-menu-item (click)="editEmail(id)">
        {{ '::Edit' | abpLocalization }}
      </button>
  
      <button type="button" *abpPermission="'ClientPortal.EmailDirectory.Delete'" mat-menu-item (click)="delete(id)">
        {{ '::Delete' | abpLocalization }}
      </button>
    </ng-template>
  
  </mat-menu>
</mat-expansion-panel>

<!-- Add the modal here -->
<abp-modal [(visible)]="this.isModalOpen">
  <ng-template #abpHeader>
    <h3>{{ (selectedEmail.id ? '::Edit' : '::NewEmail' ) | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="mt-2">
        <div class="form-group row">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" id="email" formControlName="email" rows="4" autofocus />
          </mat-form-field>
        </div>
        <div class="form-group row">
          <label for="isPrimary">Is Primary Email Address</label>
          <div>
            <mat-radio-group formControlName="isPrimary">
              <mat-radio-button id="isPrimary-true" [value]="true">Yes</mat-radio-button>
              <mat-radio-button id="isPrimary-false" [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="form-group row">
          <label for="optOutForMarketing">Opt Out For Marketing</label>
          <div>
            <mat-radio-group formControlName="optOutForMarketing">
              <mat-radio-button id="optOutForMarketing-true" [value]="true">Yes</mat-radio-button>
              <mat-radio-button id="optOutForMarketing-false" [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="form-group row">
          <label for="optForDirectMarketing">Is Primary Email Address</label>
          <div>
            <mat-radio-group formControlName="optForDirectMarketing">
              <mat-radio-button id="optForDirectMarketing-true" [value]="true">Yes</mat-radio-button>
              <mat-radio-button id="optForDirectMarketing-false" [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>
    <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
      <i class="fa fa-check mr-1"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>