<mat-card>
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>
                <h3>
                    {{ '::Menu:AuditLogs' | abpLocalization }}
                </h3>
            </mat-card-title>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <div class="form-control">
            <form [formGroup]="searchForm">
                <div class="row">
                    <div class="form-group col-md-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Audit Type</mat-label>
                            <mat-select id="auditType-id" formControlName="systemKeyWord">
                                <mat-option [value]="null">Select an audit type</mat-option>
                                <mat-option *ngFor="let auditType of auditTypes$ | async"
                                    [value]="auditType.systemKeyWord">
                                    {{ auditType.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-group col-md-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Start Date</mat-label>
                            <input matInput [matDatepicker]="startPicker" id="startDate" formControlName="startDate"
                                type="text">
                            <div matSuffix class="datepicker-toggle-wrapper">
                                <mat-datepicker-toggle [for]="startPicker"></mat-datepicker-toggle>
                                <mat-datepicker-toggle *ngIf="searchForm.value['startDate'] != null"
                                    (click)="clearStartDate()">
                                    <mat-icon matDatepickerToggleIcon>clear</mat-icon>
                                </mat-datepicker-toggle>
                            </div>
                            <mat-datepicker #startPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="form-group col-md-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>End Date</mat-label>
                            <input matInput [matDatepicker]="endPicker" id="endDate" formControlName="endDate"
                                type="text">
                            <div matSuffix class="datepicker-toggle-wrapper">
                                <mat-datepicker-toggle [for]="endPicker"></mat-datepicker-toggle>
                                <mat-datepicker-toggle *ngIf="searchForm.value['endDate'] != null"
                                    (click)="clearEndDate()">
                                    <mat-icon matDatepickerToggleIcon>clear</mat-icon>
                                </mat-datepicker-toggle>
                            </div>
                            <mat-datepicker #endPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0">
            <ng-container matColumnDef="auditType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ '::Logs.AuditType' | abpLocalization }} </th>
                <td mat-cell *matCellDef="let row"> {{ row.auditType }} </td>
            </ng-container>
            <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ '::Logs.Comment' | abpLocalization }} </th>
                <td mat-cell *matCellDef="let row"> {{ row.comment }} </td>
            </ng-container>
            <ng-container matColumnDef="ipAddress">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ '::Logs.IpAddress' | abpLocalization }} </th>
                <td mat-cell *matCellDef="let row"> {{ row.ipAddress }} </td>
            </ng-container>
            <ng-container matColumnDef="creationTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ '::Logs.CreationTime' | abpLocalization }}
                </th>
                <td mat-cell *matCellDef="let row"> {{ formatCreationTime(row.creationTime) }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>